body{
    display: grid;
    place-items: center;
    height: 100vh;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    place-items: center;
}

.chat-box{
    height: 200px;
    background: gray;
    width: 100%;
    border-radius: 10px;
}

